LFS_BUCKET: ***********
CDN_DOMAIN: ***********
OBS_REGION: ***********
OBS_ACCESS_KEY_ID: ***********
OBS_SECRET_ACCESS_KEY: ***********
CLIENT_ID: ***********
CLIENT_SECRET: ***********
PATH_PREFIX: ***********